/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
}

/* shared styles */
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}

/* section,nav {
  max-width: 1200px;
  margin: auto;
} */

:root {
  --color1: rgb(58, 58, 58);
  --color2: rgb(24, 25, 31);
  --color3: rgb(120, 120, 133);
  --color4: rgb(10, 8, 38);
  --color5: rgb(224, 44, 109);
  --color6: rgb(255, 255, 255);
}
.primary-btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  border-radius: 41px;
  background: var(--color5);
  color: var(--color6);
  padding: 10px 24px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.primary-btn:hover {
  background: var(--color3);
}

.section, header{
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

/* header start */
/* nav section */
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid steelblue; */
  align-items: center;
  margin: 20px;
}
.brand {
  color: var(--color1);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  /* border: 2px solid red; */
  padding: 10px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--color1);
  font-size: 1rem;
  font-weight: 600;
}
/* banner section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.banner-content {
  max-width: 582px;
  text-align: left;
}
.banner-content h1 {
  color: var(--color1);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.25rem;
}
.banner-content p {
  color: var(--color1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}
