/* Universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0px;
}

/* shared styles */
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
.font-manrope {
  font-family: "Manrope", sans-serif;
}

/* section,nav {
  max-width: 1200px;
  margin: auto;
} */

:root {
  --color1: rgb(58, 58, 58);
  --color2: rgb(24, 25, 31);
  --color3: rgb(120, 120, 133);
  --color4: rgb(10, 8, 38);
  --color5: rgb(224, 44, 109);
  --color6: rgb(255, 255, 255);
}
.primary-btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  border-radius: 41px;
  background: var(--color5);
  color: var(--color6);
  padding: 10px 24px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.primary-btn:hover {
  background: var(--color3);
}

.see-more-btn {
  display: flex;
  justify-content: right;
}
.arrow {
  display: flex;
  align-items: center;
  color: var(--color5);
  background: var(--color6);
  margin-top: 1rem;
  position: relative;
  border: none;
  cursor: pointer;
}
.arrow:hover {
  background-color: var(--color1);
  border-radius: 5px;
  padding: 5px;
}

header {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
}

/* header start */
/* nav section */
.navbar {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid steelblue; */
  align-items: center;
  margin: 20px;
}
.brand {
  color: var(--color5);
  font-size: 1.5rem;
  font-weight: 800;
  font-style: italic;
  line-height: 2.25rem;
  text-wrap: nowrap;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  /* border: 2px solid red; */
  padding: 10px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: var(--color1);
  font-size: 1rem;
  font-weight: 600;
}
/* banner section */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
.banner-content {
  max-width: 37rem;
  height: auto;
  text-align: left;
  padding: 5px;
}
.banner-content h1 {
  color: var(--color1);
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4.25rem;
}
.banner-content p {
  color: var(--color1);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.banner-img {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 10px;
}

/* main part start */
/* logo section style */
.logo-sec {
  max-width: 1060px;
  margin: 40px auto;
}
.social-links {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;
  margin-bottom: 30px;
  /* border: 2px solid; */
}
/* popular collection style */
.popular-collection {
  max-width: 1060px;
  margin: 30px auto;
  text-align: center;
}
.collection-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  /* border: 1px solid steelblue; */
  justify-items: center;
  gap: 10px;
}

.container-card {
  /* border: 2px solid saddlebrown; */
  padding: 20px;
  text-align: left; /* Text is aligned to the left */
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: var(--color6);
}

.collection-img {
  display: flex;
  justify-content: center; /* Centers the image horizontally */
  margin-bottom: 10px; /* Adds space between image and text */
  object-fit: cover;
}

.collection-img img {
  max-width: 100%;
  height: auto;
}
/* feature section start */
.feature {
  max-width: 1060px;
  width: 90%;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}
.feature-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 80%;
}
.feature-img{
  width: 90%;
}
.feature-img img{
  width: 100%;
}
.feature-btn {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  background: var(--color5);
  color: var(--color6);
  padding: 10px 24px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-top: 10px;
  cursor: pointer;
}
.feature-btn:hover{
  background: var(--color3);
}
.feature-title {
  color: var(--color4);
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}
.feature-des {
  color: var(--color3);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}
/* footer section start */
.footer{
  background-color: var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color6);
  gap: 10px;
  padding: 10px ;
  margin: 0 auto;
  width: vw100;
}
